
.form-group {
    margin-left: 70px;
 
}

.float {
    margin-left: 1000px;
}


.form-actions {
    margin-left: 70px;
    margin-top: 15px;
}

.t {
    margin-bottom: 50px;
    margin-top: -80px;
    margin-left: 55px;
}

.mao {
    margin-left: 30px;
    margin-bottom: 20px;
}

