
@{
    ViewBag.Title = "UnauthorizedOperation";

}
<link href="~/Library/Bootstrap/bootstrap.min.css" rel="stylesheet" />
<section class="content-header"></section>
<br />
<br />
<div class="container">

    <img src="~/Library/imagenes/no.png" class="img-thumbnail" alt="Cinque Terre" width="200" height="150">
</div>
<br />
<div class="error-page">

    <div class="alert alert-danger">
        <strong>Sin Autorizacion!</strong> Usted no tiene permiso para ingresar a esta seccion.
    </div>
</div>