
@{
    ViewBag.Title = "Vendedor";
    Layout = "~/Views/Shared/_LayoutVistaVendedor.cshtml";
}

<style>

.h5{
    text-align:center;
}
</style>


<br>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="h5"><h2>BIENVENIDO APRECIADO COLABORADOR</h2></div>

<br>
<br>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <!-- /.row -->
    <!-- START THE FEATURETTES -->


    <div class="row featurette">
        <div class="col-md-7">

            <br>
            <p class="lead">
                Esperamos que te encuentres muy bien, solo te queremos recordar lo valioso que eres para nuestra
                empresa, que cada acción que realizas se ve reflejado en la felicidad de nuestros clientes, te queremos invitar
                a continuar con el excelente trabajo que realizas, para nosotros eres una persona muy valiosa y cada una
                de tus acciones nos ayudan a mejorar, nos gusta que nuestros clientes vean la felicidad con las que haces tus labores,
                que tengan un gran dia.
            </p>
            <p class="lead">
                Si tus acciones inspiran a otros a soñar mas, aprender mas, hacer mas y mejores, eres un gran lider.
            </p>

        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/Library/Imagenes/trabajo1.jpg" width="500" height="500">

        </div>
    </div>

    <br><br>
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">CONSEJOS </h2>
            <p class="lead">
                Recuerda realizar primero el registro del Cliente en nuestro sistema antes de registrar la compra.
            </p>
            <p class="lead">
                Realiza el Registro del Vehiculo antes de generar el tiquete del Parqueadero.
            </p>
            <p class="lead">
                Recuerda que en caso de equivocaciones puedes realizar la modificación de los datos.
            </p>
           
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/Library/Imagenes/trabajo2.jpg" width="500" height="650">
        </div>
    </div>

</div>



<br />
<br />
<br />

